@import url("http://fonts.googleapis.com/css?family=UbuntuCondensed");
html,
body {
  font-family: "Open Sans";
  height: 100%;
  font-family: 'Ubuntu Condensed', sans-serif;
  background: #fff;
  color: #444;
  margin: 0;
  padding: 0;
}
.menuSideBar {
  display: block;
  float: left;
  background: #191818;
  font-size: 18px;
  width: 160px;
}
.menuSideBar a,
.menuSideBar a:link,
.menuSideBar a:visited {
  color: #4f4e4e;
  text-decoration: none;
}
.menuSideBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuMain {
  background: #1f8dd6;
  display: block;
  text-align: middle;
}
.contenedor {
  display: inline-block;
  position: relative;
}
#container1024 {
  width: 1024px;
  margin: 0 auto;
}
