{% extends "base.html" %}
{% block content %}
<div class="example">
	<h2>Tiene un total de {{servicios.count}} en lista</h2>
	<table class="table striped hovered">
		<thead>
			<th></th>
			<th class="text-left">Folio</th>
			<th class="text-left">Status</th>
			<th class="text-left">Fecha de alta</th>
			<th class="text-left">Cliente</th>
			<th class="text-left">Cliente Status</th>
			{%if not cobranza%}
				<th>Authorizado</th>
				<th>Asignado a:</th>
				<th>Fecha asignacion</th>
			{%endif%}
		</thead>
		<tbody>
		{%for servicio in servicios%}
			<tr class="">
				<td>
					{%if not cobranza%}
						{%if request.user.is_staff%}
							<a href="/helpdesk/ServicioEdit/{{servicio.pk}}">
						{%else%}
							<a href="/helpdesk/ServicioDetails/{{servicio.pk}}">
						{%endif%}
					{%else%}
						<a href="/helpdesk/cobranzaEdit/{{servicio.pk}}">
					{%endif%}
					<span class="icon-pencil"></span>
					</a>
		    	</td>
				<td>
				{%if not cobranza%}
					<a href="/helpdesk/ServicioDetails/{{servicio.pk}}">
				{%else%}
						<a href="/helpdesk/cobranzaEdit/{{servicio.pk}}">
				{%endif%}
				{{servicio.folio}}</a></td>
				<td>[{{servicio.get_status_display}}]</td>			
				<td>{{servicio.dateAdded|date:'Y-m-d'}}</td>
				<td>{{servicio.cliente|truncatechars:40}}</td>
				<td>{{servicio.cliente.get_statusCliente_display}}</td>
				{%if not cobranza%}
				<td>{{servicio.isAuthorized}}</td>
					{%if servicio.tecnico = None%}
					<td>No asignado <a href="/helpdesk/asignar/{{servicio.pk}}">Asignar</a></td>
					<td>Empty</td>
					{%else%}
					<td>{{servicio.tecnico}}</td>
					<td>[{{servicio.fechaAsignacion|date:'Y-m-d'}}]</td>
					{%endif%}
				{%endif%}
			</tr>
		{%endfor%}
		</tbody>
	</table>
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/helpdesk/coordinacion?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/helpdesk/coordinacion?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}