<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paprisa.com.mx</title>
	{% load static from staticfiles %}
	<!--
    <link rel="stylesheet" href="//metroui.org.ua/v2/css/metro-bootstrap.css">
    <link rel="stylesheet" href="//metroui.org.ua/v2/css/metro-bootstrap-responsive.css">
    <link rel="stylesheet" href="//metroui.org.ua/v2/css/docs.css">
    <link rel="stylesheet" href="//metroui.org.ua/v2/css/iconFont.css">
    <link rel="stylesheet" href="//metroui.org.ua/v2/js/prettify/prettify.css">
    -->
<!--
    <link href="{% static 'css/metro-bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/metro-bootstrap-responsive.css'%}" rel="stylesheet">
    <link href="{% static 'css/iconFont.css'%}" rel="stylesheet">
    <link href="{% static 'css/docs.css'%}" rel="stylesheet">
    <link href="{% static 'js/prettify/prettify.css'%}" rel="stylesheet">
    <link href="{% static 'css/paprisapp.css'%}" rel="stylesheet">

    
    <script src="{% static 'js/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'js/jquery/jquery.widget.min.js'%}"></script>
    <script src="{% static 'js/jquery/jquery.mousewheel.js'%}"></script>
    <script src="{% static 'js/prettify/prettify.js'%}"></script>
    <script src="{% static 'js/holder/holder.js'%}"></script>

    
    <script src="{% static 'js/metro.min.js'%}"></script>

    
    <script src="{% static 'js/docs.js'%}"></script>
    <script src="{% static 'js/github.info.js'%}"></script>
    <script src="{% static 'js/ga.js'%}"></script>
    <script src="{% static 'js/hitua.js'%}"></script>  -->

    <!-- PRODUCTION -->
    
    <link href="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/css/metro-bootstrap.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/css/iconFont.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/css/docs.css" rel="stylesheet">
    <link href="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/prettify/prettify.css" rel="stylesheet">


    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/jquery/jquery.min.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/jquery/jquery.widget.min.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/jquery/jquery.mousewheel.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/prettify/prettify.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/holder/holder.js"></script>


    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/metro.min.js"></script>


    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/docs.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/github.info.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/ga.js"></script>
    <script src="//raw.githubusercontent.com/alexismzt/paprisapp/master/helpdesk/static/js/hitua.js"></script>
    <!--END PROD -->

    
</head>
