{% extends "base.html" %}
{% block content %}
<div class="content">
{%if not cliente%}
	<h2 class="content-subhead">Dar de alta un nuevo Servicio</h2>
	<form action="/helpdesk/servicios/" method="POST">
		{% csrf_token %}
		<label for="noCliente">Numero de Cliente</label>
		<input type="text" name="noCliente" id="noCliente">
		<input type="hidden" name="searchType" id="searchType" value="NewService"/>
		<button class="button-secondary pure-button">Enviar</button> 
	</form>

	<h2 class="content-subhead">Checar Servicios</h2>
	<form action="/helpdesk/servicios/" method="POST">
		{% csrf_token %}

		<label for="noCliente">Folio del servicio</label>
		<input type="text" name="folioServicio" id="folioServicio">
		<input type="hidden" name="searchType" id="searchType" value="CheckService"/>
		<button class="button-secondary pure-button">Enviar</button> 
	</form>
{% else %}
	<h2 class="contest-subhead">{{tipobusqueda}}</h2>
	{%if errorFolio%}
			<h1>{{errorFolioDetail}}</h1>
	{%endif%}
	{% if tipo %}
	{% else %}
	{% endif %}
{% endif %}
</div>
{% endblock %}