{% extends "base.html" %}
{% block content %}
<div class="example">
<h2>Detalles del servicio folio: <strong>{{servicio.folio}}</strong></h2>
<p>Cliente: <strong>{{servicio.cliente}}</strong></p>
<p>Domicilio: <strong>{{servicio.cliente.calle}}</strong> Numero: <strong>{{servicio.cliente.numero}}</strong> Num Ext: <strong>{{servicio.cliente.numext}}</strong>, Codigo Postal : <strong>{{servicio.cliente.codigopostal}}</strong>, Colonia: <strong>{{servicio.cliente.colonia}}</strong></p>
<p>Persona que reporta: <strong>{{servicio.reporta}}</strong></p>
<p>Descripcion del servicio: <strong>{{servicio.descripcion}}</strong></p>
<p>Coordinador Asignado: <strong>{{servicio.coordinador}}</strong></p>
<ul>
    <li>
        <span>Servicio authroizado por cobranza: <strong>{{servicio.isAuthorized}}</strong></span>
    </li>
    {%if servicio.autorizado = False%}
    <li>
        <span>Razon por la cual no fue autorizado:</span>
        <span>{{servicio.authObservacioenes}}</span>
    </li>
    {%endif%}
    {%if not servicio.tecnico = None%}
    <li><span>Tecnico asignado: <strong>{{servicio.tecnico}}</strong></span></li>
    <li><span>Fecha de Asignacion: <strong>{{servicio.fechaAsignacion}}</strong></span></li>
    {%endif%}
</ul>
<label for="">Estatus del servicio:  </label><button class="button-success pure-button">{{servicio.get_status_display}}</button>
</div>
{% endblock %}